.lower{
    display: flex;
    justify-content: space-between;
  }
  
  
  button {
      background-color: #FDC913;
      color: white;
      padding: 5px 10px;
      border: none;
      
      font-size: 16px;
      cursor: pointer;
      width: 40px;
      margin-top: 20px;
    }
    .siparis{
      width: 80%;
    }
  
    .count{
      border: 0.1px solid #5F5F5F;
      padding: 4.5px 8px;
     
      width: 40px;
      margin: 0; 
    }