.lower{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  button {
      background-color: #FDC913;
      color: white;
      padding: 5px 10px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      width: 40px;
      margin-top: 20px;
    }
    .button{
      height: 35px;
      width: 120px;
    }
    .count{
      border: 1px solid #D9D9D9;
      padding: 6.5px 10px;
    }
    
  .card-body{
    max-width: 300px;
    max-height: 160px;
    
  }
  p{
    padding: 0 15px;
  }

   .siparis{
      width: 300px;
      height: 60px;
      opacity: 0px;
      border-bottom: 6px;
      margin-bottom: 5rem;
      margin-top: -5px;
    }

    @media (max-width: 540px) {
      .lower{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .button{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
      }
      .card-body{
        display: flex;
        flex-wrap: wrap;
        
       
      }
      .card{
        display: flex;
        width: 300px;
      }
    
  }