.lower{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  button {
      background-color: #FDC913;
      color: white;
      
      border: none;
      font-size: 16px;
      cursor: pointer;
      width: 40px;
      max-height: 40px;
      min-height: 34px;
     
    
    }
    .card{
      max-width: 300px;
      max-height: 200px;
      margin-bottom: 30px;
      
     
    }
    .button{
      height: 55px;
      max-width: 300px;

      
    }
    .count{
      border: 1px solid #D9D9D9;
      padding: 6.5px 10px;
      max-height: 40px;
    }
    
  .card-body{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    
    max-height: 180px;
  }
  

   .siparis{
      width: 300px;
      height: 100px;
      border-radius: 6px;
      
      
     
    }

    @media (max-width: 480px) {
      .lower{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .button{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
      }
      .card-body{
        display: flex;
        flex-wrap: wrap;
        
       
      }
      .card{
        display: flex;
        width: 300px;
      }
    
  }

    @media (max-width: 540px) {
      .lower{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .button{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
      }
      .card-body{
        display: flex;
        flex-wrap: wrap;
        
       
      }
      .card{
        display: flex;
        width: 300px;
      }
    
  }
  @media (max-width: 768px) {
    .lower{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .button{
      display: flex;
      flex-wrap: wrap;
      margin-left: 20px;
    }
    .card-body{
      display: flex;
      flex-wrap: wrap;
      
     
    }
    .card{
      display: flex;
      width: 300px;
    }
  
}