.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
  }
  .size{
    display: flex;
    justify-content: space-between;
  }
  
  .radio-container {
    display: block;
    align-items: center;
    font-size: 15;
  }
  
  .radio-container input {
    margin-right: 8px;
  }
  
  .radio-option {
    display: flex;
    align-items: center; /* Yatayda hizalama */
    margin-bottom: 10px; /* Her bir seçenek arasında boşluk bırakır */
  }
  .name, .notes{
    padding-top: 1rem;
  }
  
  