.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }
.header{
  
    width: 100vw;
    background-color: #CE2829;
    height: 80px;


}
.section-top {
    background-color: #FAF7F2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub-img{
  max-height: 170px;
  background-color: #FAF7F2;

}

.product{
  margin-top: 1rem;
  background-size: 100vw;
  background-color: #FAF7F2;
}
.img {
    max-width: 220px; 
    height: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: block;
    margin: auto;
  }
 
  footer{
    width: 100vw;
    
  }
